<div class="container">


<div class="row">
	<div class="col-md-4 col-md-offset-4">
	<h1>NEW TASK:</h1>			
		<form action="/tareas
		" method="POST">
			<div class="form-group">
				<input class= "form-control" type="text" placeholder="Task" name="tarea">
			</div>
			<div class="form-group">
				<input class="btn btn-primary btn-block" type="submit" value="Create">
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-1">	  
	   	<h2>To do:</h2>
		<% @tareas.each do |tarea| %>
	        <% if tarea["done"]==false %>
				<ul class="list-group">	
					<li class="list-group-item"> <%= tarea["title"] %> <a href="tareas/delete/<%=tarea["id"]%>">   <i class="glyphicon glyphicon-remove"></i></a>  <a href="tareas/edit/<%=tarea["id"]%>"> <i class="glyphicon glyphicon-ok"></i></a></li>
				</ul>
			<% end %>
		<% end %>
	</div>
	<div class="col-md-4 col-md-offset-2">
	    <h2>Done:</h2>
		<% @tareas.each do |tarea| %>
		    <% if tarea["done"]==true %>
				<ul class="list-group undone">
				 		<li class="list-group-item"> <%= tarea["title"] %> <a href="tareas/delete/<%=tarea["id"]%>"> <i class="glyphicon glyphicon-remove"></i></a></li>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>
</div>
